repos:
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: isort --check-only --diff
        language: system
        types: [python]

      - id: black
        name: black
        entry: black --check --diff
        language: system
        types: [python]

      - id: ruff
        name: ruff
        entry: ruff check
        language: system
        types: [python]

      - id: mypy
        name: mypy
        entry: mypy --install-types --non-interactive --strict
        language: system
        types: [python]

      - id: pytest
        name: pytest
        entry: pytest --maxfail=3
        language: system
        types: [python]
        pass_filenames: false
